<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      GURU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="header">
    <h1>SELAMAT DATANG</h1>
  </div>
  
    <ion-item>
      <ion-label position="floating" >Email Guru</ion-label>
      <ion-input></ion-input>
     </ion-item>
  
     <ion-item>
      <ion-label position="floating">Kata Laluan Guru</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
  
    <ion-grid>
          <ion-row>
         
            <ion-col class="ion-text-center">
              <ion-button color="danger" shape="round" >log masuk</ion-button>
          </ion-col>
          </ion-row>
  </ion-grid>
</ion-content>
