<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      PENJAGA
    </ion-title>
  </ion-toolbar>
</ion-header>

<br>
<br>
<br>
<br>
<br>
<br>
<ion-content >
  <div class="header">
    <h1>SELAMAT DATANG</h1>
  </div>
  
    <ion-item shape="round">
      <ion-label position="floating" >Email Penjaga</ion-label>
      <ion-input></ion-input>
     </ion-item>
  
     <ion-item>
      <ion-label position="floating">Kata Laluan Penjaga</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
  
    <ion-grid>
          <ion-row>
         
            <ion-col class="ion-text-center">
              <ion-button color="primary" shape="round">log masuk</ion-button>
          </ion-col>
          </ion-row>
  </ion-grid>
  <br>
 
  
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/daftarpenjaga']">Tiada akaun? daftar sekarang</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
     
    
 

  
  </ion-content>
